*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: -apple-system, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    background-image: linear-gradient(to right bottom,#ADFF2F ,#C4E538) ;
    
}
.container{
    height: 100vh;

    display: flex;
    justify-content: center;
}
.hangman{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.alphabets{
    background-color: white;
    font-size: 2rem;
    font-weight: 600;
    border:none;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    outline: none;
    color: #009432;
    box-shadow: 0 0 1px 5px rgba(128, 128, 128, 0.253);
    text-align: center;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 300;
}
h3{
    font-size: 3rem;
    font-weight: 300;
}
.answerArea{
    letter-spacing: 0.8rem;
    font-size: 6rem;
    font-weight: 300;   
}
.playAgain{
    color: #009432;
    background-color: white;
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}